{% extends 'layout.html.twig' %}

{% block title %}
Super combat
{% endblock %}

{% block stylesheet %}
 <link rel="stylesheet" href="/assets/css/accueil.css">
{% endblock %}

{% block content %}

<body>
    <img src "public/assets/images/superHeros.jpg" id="fond" ...>
</body>
{% endblock %}
