{% extends 'layout.html.twig' %}

{% block title %}
SUPER WILD FIGHTER
{% endblock %}

{% block stylesheet %}
 <link rel="stylesheet" href="/assets/css/accueil.css">
{% endblock %}

{% block content %}



<div class="container">

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1 style="font-size: 3EM; color:red;">Bienvenue sur WILD FIGHTER 2018</h1>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto" style="margin-top: 20vh;">

        <form class="form-inline" action="/Personnage1" type="POST" >

          <button type="submit" class="btn btn-warning mb-2">Jouer ! </button>

  </div>
</div>




</div>


{% endblock %}
